.form {
  background-color: #d2d2d2;
  height: 90px;
  padding: 20px 40px;


  &__message {
    display: flex;

    &__box {
      width: 100%;
      display: flex;
      position: relative;

      &__text {
        height: 50px;
        padding: 0 40px 0 10px;
        width: 100%;
        border-style: none;
      }
      
      &__image {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.3rem;
        
        &__file {
          display: none;
        }
      }
    }


    &__btn {
      height: 50px;
      width: 100px;
      margin-left: 15px;
      background-color: #389ef0;
      color: #fff;
      border: #389ef0;
    }
  }
}